<ul style="display: flex; flex-direction: column;align-items: center">
{% for todo in item %}
<div style="display: flex; gap: 10px">
<li>{{ todo . name }}</li>
<form action="{{ route('todo::delete', {id:todo.id}) }}" method="POST">
    <input type="submit" value="sil">
</form>
</div>
{% endfor %}
</ul>
<div style="display: flex; flex-direction: column;align-items: center">
<form action="{{ route('todo::create') }}" method="POST">
    <input style="margin-bottom: 25px" type="text" name="name" placeholder="isim">
    <br>

    <input style="margin-bottom: 25px" type="text" name="slug" placeholder="slug">
    <br>
    <input type="submit" value="oluştur">
</form>
</div>

